# Database Configuration
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=travel-advisor
DATABASE_PASSWORD=travel-advisor
DATABASE_NAME=travel-advisor
DATABASE_POOL_SIZE=30
DATABASE_MAX_OVERFLOW=20
DATABASE_POOL_TIMEOUT=30
DATABASE_POOL_RECYCLE=1800

# Generate with:
# mkdir -p certs && cd certs
# openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:2048
# openssl rsa -pubout -in private_key.pem -out public_key.pem
JWT_PRIVATE_KEY_PATH="certs/private_key.pem"
JWT_PUBLIC_KEY_PATH="certs/public_key.pem"
JWT_ALGORITHM="RS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=300
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
MAX_FAILED_LOGIN_ATTEMPTS=5
LOCKOUT_DURATION_MINUTES=5


REDIS_HOST = redis
REDIS_PORT = 6379
IDEMPOTENCY_TTL_SECONDS= 60  # 1 minute


LANGSMITH_TRACING=false # Set to true to enable LangSmith tracing
LANGSMITH_API_KEY=your_langsmith_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
